# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Trained model artifacts
fine_tuned_bart/
bart-summary-model/